/* App.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    background-image: url(https://images.unsplash.com/photo-1612277795511-39caabca8185?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGNvdmlkJTIwMTklMjB2YWNjaW5lfGVufDB8fDB8fHww&auto=format&fit=crop&w=600&q=60);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  image{
    opacity: 0.5;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  header {
    
    color: #52666f;
    text-align: center;
    padding: 1rem 0;
  }
  
  header h1 {
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     text-decoration: underline;
  }
  
  form {
    
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    
    
  }
  
  form div {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    font-weight: bolder;
    margin-bottom: 0.5rem;
  }
  
  input,
  select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #7d7f7e;
    color: #fff;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Optional: Center the form on the page */
  /* html, body {
   /*  */
  
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #submit {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #0077ed;
    border-color: white;
    min-width: 300px;
  }
  
  #head{
    font-family: Helvetica, sans-serif;
    color: black;
    font-weight: bolder;
    text-shadow: #ffbfbf;
  
    text-decoration: #c42727;
  }